# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env

dist/
build/



# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan
*.tfvars
*.tfvars.json
.terraform.lock.hcl


# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
